configuration {
    modi:           "drun,run";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:   "";
    display-run:    "";
    terminal:       "ghostty";
    font:           "JetBrains Mono 12";
}

@theme "~/.config/rofi/theme.rasi"
